* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-left: 50vh;
    padding-right: 50vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: 100vh;
    background: linear-gradient(rgb(26,227,255), rgb(17,98,255));
    font-family: sans-serif;
    color: black;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.05fr 0.8fr;
    grid-gap: 2em 2.5em;
    grid-template-areas:
        "todays-date todays-date"
        "temperature forecast";
}

.todays-date {
    grid-area: todays-date;
}

.todays-date h1 {
    font-size: 1.5rem;
    text-align: center;
}

.temperature {
    grid-area: temperature;
    background-color: white;
    box-shadow: 0.5em 0.5em 1em rgb(50,50,50);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.weather-condition {
    font-size: 3rem;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
}

.location-name {
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.temperature-current {
    font-size: 6rem;
    margin-bottom: 0.05em;
}

.myIcon {
    margin-bottom: 2em;
}

.temperature-feels-like {
    font-size: 2rem;
    margin-bottom: 0.8em;
}

.temperature-max-min span {
    font-size: 1.5rem;
}

.forecast {
    grid-area: forecast;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.forecast div {
    width: 27em;
    height: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0.5em 0.5em 1em rgb(50,50,50);
    border-radius: 1.25em;
}

.forecast-day {
    font-size: 1.2rem;
    font-weight: bold;
}

.forecast-day, .forecast-maxmin {
    padding: 2.5rem;
}

.forecast canvas {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}